.chapters-section {
  margin-top: 30px;
}

.chapters-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chapter-item {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  color: inherit;
}

.chapter-item:hover {
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
}

.chapter-item:active {
  scale: 0.99;
}

.chapter-title {
  font-weight: 500;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chapter-number {
  margin: 0 15px;
}

.chapter-left {
  display: flex;
  flex-direction: row;

  flex: 1;
  min-width: 0;
}

.chapter-updated-time {
  margin-left: 15px;
}