.comment-form {
  margin-bottom: 30px;
}

.comment-form-header {
  margin-bottom: 15px;
  align-items: end;
}

.comment-form textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-radius: 8px;
  background: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-main);
  resize: vertical;
}

.comment-form button {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  background: var(--color-main);
  color: var(--color-text);
  border-radius: 6px;
  cursor: pointer;
}

.comment-form button:hover {
  background: var(--color-btn-hover);
}

.comment-form button:active {
  background: var(--color-btn-press);
  scale: 0.97;
}

.comment-card {
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 12px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
}

.comment-user {
  font-weight: 600;
  color: var(--color-text);
}

.comment-date {
  font-size: 0.9rem;
}

.comment-text {
  margin-top: 8px;
}

.comment-actions {
  margin-top: 10px;
}

.comment-actions {
  margin-top: 10px;
}

.comment-reactions {
  display: flex;
  gap: 10px;
}

.reaction-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 6px;
}

.reaction-btn:hover {
  background: rgba(0,0,0,0.05);
}

.reaction-btn.active-like {
  color: #22c55e;
}

.reaction-btn.active-dislike {
  color: #ef4444;
}

.delete-comment-btn {
  background: #ef4444;
  border: none;
  color: var(--color-white);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-comment-btn:hover {
  background:  #ca6161;
}

.delete-comment-btn:active {
  background:  #c72d2d;
  scale: 0.97;
}


@media (max-width: 700px) {
  .comment-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .comment-user {
    font-weight: 600;
    color: var(--color-text);
  }

}