:root {
  --font-base-decorative: "Kalam", cursive;
  --font-base: "Roboto Flex", sans-serif;

  
  --color-white: #ffffff;
  --color-main: #a4b6a0;
  --color-main-dark: #5a6159;
  
  --color-btn-hover: #858f83;
  --color-btn-press: #485046;
  --color-bg: var(--color-white);
  --color-text: var(--color-main-dark);
  --color-text-chapter: #000000;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  font-family: var(--font-base);
}

.page-content {
  flex: 1;
}

.custom-navbar {
  background: var(--color-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 7vh;
}

/* Logo */

.logo-img {
  height: 7vh;
  object-fit: contain;
}

/* Search */

.search-wrapper {
  width: 100%;
  max-width: 360px;
}

.search-box {
  padding: 3px;
  display: flex;
  align-items: center;

  background: var(--color-main);
  border-radius: 18px;
  overflow: hidden;

  padding-left: 14px;
}

.search-box input {
  background: transparent;
  color: var(--color-text);
}

.search-box input::placeholder {
  color: var(--color-text);
  font-style: italic;
}

.search-btn {
  border: none;
  background: transparent;

  width: 6vh;
  height: 6vh;

  font-size: 1.3rem;
  color: var(--color-text);
}

/* Links */

.custom-link {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 1.4rem;
  color: #111 !important;

  padding: 12px 8px;
}

.custom-link i {
  color: #aab9a1;
  font-size: 1.5rem;
}

/* Desktop avatar */

.avatar-circle {
  width: 7vh;
  height: 7vh;

  border-radius: 50%;
  background: #aab9a1;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.avatar-circle i {
  color: #5f655b;
  font-size: 2rem;
}

/* Footer */

.footer {
  padding-top: 7vh;
  padding-right: 5vw;
  padding-left: 5vw;
  font-family: var(--font-base-decorative);
  background: var(--color-main);
  color: var(--color-text);
  margin-top: 40px;
}

.footer a {
  color: var(--color-text);
  font-size: 1.5rem;
}

/* Burger */

.burger-circle {
  width: 7vh;
  height: 7vh;

  border-radius: 50%;
  background: #aab9a1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon-custom {
  width: 28px;
  height: 2px;

  background: #222;
  position: relative;
  display: block;
}

.navbar-toggler-icon-custom::before,
.navbar-toggler-icon-custom::after {
  content: "";

  width: 28px;
  height: 2px;

  background: #222;

  position: absolute;
  left: 0;
}

.navbar-toggler-icon-custom::before {
  top: -8px;
}

.navbar-toggler-icon-custom::after {
  top: 8px;
}

/* Mobile profile */

.mobile-avatar {
  width: 9vh;
  height: 9vh;

  border-radius: 50%;
  background: #aab9a1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-avatar i {
  font-size: 3rem;
  color: #5f655b;
}

/* Mobile */

@media (max-width: 991px) {

  .navbar-collapse {
    padding-bottom: 1.5rem;
  }

  .custom-link {
    font-size: 1.5rem;
    padding: 14px 0;
  }

  .custom-link i {
    font-size: 1.5rem;
  }

  .search-wrapper {
    max-width: 100%;
  }
}
