:root {
  --font-base: "Roboto Flex", sans-serif;

  --color-white: #ffffff;
  --color-main: #a4b6a0;
  --color-main-dark: #50574f;

  --color-btn-hover: #92aa8d;
  --color-btn-press: #485046;
  --color-bg: var(--color-white);
  --color-text: var(--color-main-dark);
  --color-text-chapter: #000000;
} 


[data-theme="dark"] {
  --color-main: #5d6d5b;
  --color-main-dark: #9eb19c;

  --color-btn-hover: #858f83;
  --color-btn-press: #485046;
  --color-bg: #2e2e2e;
  --color-text: rgb(197, 197, 197);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  font-family: var(--font-base);
  color: var(--color-text);
}

.page-content {
  flex: 1;
}

